In [1]:
%%bash 
rm -r Data
mkdir Data
cd Data
kg download -c "poker-rule-induction"

Process is terminated.

In [5]:
%%bash 
cd Data
unzip test.csv.zip
unzip train.csv.zip

Archive:  test.csv.zip
  inflating: test.csv
Archive:  train.csv.zip
  inflating: train.csv

In [1]:
import pandas as pd

train_data = pd.read_csv("Data/train.csv")
test_data = pd.read_csv("Data/test.csv")

In [7]:
train_data.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   4   9   2   1   2   2   4   7   2   8     0
1   1   4   3   6   1  12   3  11   2   7     0
2   1  11   4   1   3   7   4  11   2   1     2
3   2   9   2   4   3   6   1   9   4   9     3
4   1   8   2   4   2  11   2   2   2   1     0

In [2]:
test_data.head()

   id  S1  C1  S2  C2  S3  C3  S4  C4  S5  C5
0   1   1  10   2   2   3   3   3   8   1   1
1   2   2  13   3   5   3   7   4   6   1   4
2   3   1   3   1  11   2   8   2   1   2   4
3   4   1   6   3   3   4   7   1   8   3  11
4   5   2  10   3   4   1   6   2  12   2   6